@import "tailwindcss";

.modal-content {
  animation: slideDown 0.3s ease-out;
}

.modal-header {
  display: flex;
  justify-content: end;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}


.modal-close-btn:hover {
  color: #ff4d4f;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
