@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-formInputFocus: #e4a02d;
  --color-formInputBorder: rgba(255, 255, 255, 0.38);
  --color-formInputbutton: #420356;
  --color-switchText: #de9700;
  --color-primaryColor: #200b33;
  --color-primaryText: #fff;
  --color-secondaryColor: #2c0e48;
  --color-columnColor: #371650;

  --animate-slide-down: slideDown 0.3s ease-out;
  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  @apply m-0 min-w-xs min-h-screen bg-primaryColor text-primaryText leading-4 font-normal font-poppins max-w-full;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply bg-formInputbutton;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: formInputFocus;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form-input:focus-visible {
  outline: none !important;
}
.form-input {
  @apply border rounded-xl text-white bg-secondaryColor border-formInputBorder w-full   p-2 focus:border-formInputFocus focus:bg-primaryColor;
}
.form-container {
  @apply flex mx-auto justify-between gap-3 p-0;
}
.form-image {
  @apply max-w-md w-full  max-sm:hidden;
}

.form {
  @apply flex flex-col items-center justify-center gap-1 p-4 max-w-md w-full;
}
.form-input-fields {
  @apply gap-2 w-full;
}

.validation-errors {
  @apply text-red-800 text-sm;
}
.line {
  @apply border-t-1 min-w-24 max-h-0 max-sm:min-w-14;
}
.line-text-container {
  @apply flex flex-row p-2 gap-2 items-center w-max;
}

.form-buttons {
  @apply max-w-sm  max-sm:min-w-max w-full mx-auto;
}
.form-checkbox {
  @apply max-w-xs text-xs;
}
span {
  @apply text-xs;
}
.switch-text {
  @apply text-switchText underline cursor-pointer;
}

.form-details {
  @apply grid  grid-cols-2 gap-4;
}
.details-container {
  @apply flex m-auto justify-between p-4  items-center content-center;
}

.form-input-fields {
  @apply flex flex-col p-3;
}

.profile-image {
  @apply max-h-20 max-w-20;
}
.form-select {
  @apply flex flex-col;
}

.profile-info {
  @apply flex flex-col items-center gap-2 m-2;
}
.form-radio {
  @apply mr-4 ml-4 mt-2;
}

.details-form {
  @apply flex  flex-col items-center;
}

#ageConfirm {
  @apply bg-primaryColor;
}

#dob {
  @apply max-sm:max-w-[9.2rem];
}
